#container{
	max-width: 900px;
	margin:0 auto;
	text-align:left;
	}

body {
	text-align:center;
	margin: 0;
	padding:0;
	min-width: 625px;
	background-color: #eee;
	font-family: Verdana, sans-serif;
	font-size: 75%;
	color: #535353;
	background-image: url(images/texture.gif);
	background-repeat: repeat;	
}

#logo{
	width:100%;
	}

#top{
margin-top: 2%;
}


a {
	color: #2b4258;
	text-decoration: underline;
	line-height: 150%;
}

a:hover {
	color: #1C2937;
}

h1 {
	margin: 0;
	font-size: 2em;
	font-weight: normal;
	color: #2b4258;
	text-align: center;
}

#lang-change {
	float: right;
	text-align: right;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 1.5em;
	margin-left: 0;
}

#lang-change img {
	vertical-align: middle;
}

#lang-change a {
	font-size: 0.90em;
	font-weight: bold;
	color: #cc0000;
}

#lang-change a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cc0000;
}

#menu {
	padding: 0;
	margin: 0;
	clear: right;
	width: 100%;
}


#menu li {
	list-style-type: none;
	width: 16.4%;
	background-color: #2b4258;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: black white;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

#menu .first {
	border-color: black white black black;
}

#menu .last {
	border-color: black black black white;
}

#menu a {
	color: white;
}

#menu a:hover {
	color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
}

.current {
	text-decoration: none;
}
#container .current:hover{
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#path {
	margin: 2em;
}

#main {
	width: 98%;
	margin-bottom: 4em;
	float: right;
	clear: both;
	background-color: #FFFFFF;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 3%;
	margin-top: 2%;
}

.right {
	color: #151515;
	float: left;
	margin-left: 4px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #2B4258;
}

#std-right {
	width: 62%;
	padding-left: 2.2%;
	line-height: 2em;
}

.video {
	margin: 1em auto 0;
}

h3 {
	color: #2b4258;
	margin-top: 3em;
}

.refs .author {
	font-weight: bold;
}

.refs .title {
	font-style: italic;
}

#news {
	width: 62%;
	padding-left: 2.2%;
}

h2 {
	margin: 0;
	font-size: 1.83em;
	font-weight: normal;
	color: #2b4258;
}

.right h2 {
	margin-bottom: 1em;
}

.catchy {
	font-weight: bold;
}

#news p {
	margin-top: 3em;
	padding-left: 8.5em;
	line-height: 1.5em;
	text-indent: -8.5em;
}

.news-date {
	font-weight: bold;
}

.left {
	float: left;
}

.left li {
	line-height: 2em;
}

#contact {
	width: 30.1%;
	margin-right: 1.4%;
	padding-left: 0.8%;
}

#submenu {
	width: 31.4%;
	margin-right: 1.1%;	
}

#submenu ul {
	padding-top: 0;
	margin-top: 0;
}

#contact iframe {
	width: 100%;
	height: 350px;
	margin: 2em 0;
}

#contact table {
	width: 100%;
	margin-top: 2em;
	overflow: hidden;
	table-layout: fixed;
}

#contact table th {
	width: 5em;
}

#submenu li {
	font-size: 1em;
	margin-left: -5%;
}

hr {
	margin-bottom: 0.5em;
	clear: right;
}

#footer {
	text-align: center;
}

#footer p {
	display: inline;

	margin: 0 2em;

	font-size: 0.8em;
}

#footer img {
	vertical-align: middle;
}
#container #main #submenu .stilven {
	list-style-type: disc;
	margin-left: -5%;
}
#container #main #std-right .bold {
	color: #1C2937;
	font-weight: bold;
}
#container #main #submenu .stilven2 {
	text-decoration:none;
}
