@charset "utf-8";
/* CSS Document for fonts */
@import url(http://fonts.googleapis.com/css?family=Crushed);
@import url(http://fonts.googleapis.com/css?family=Yesteryear|Yellowtail|Yanone+Kaffeesatz|Wire+One|Volkhov|Varela|Ultra|Ubuntu|Syncopate|Sarina|Rokkitt|Righteous|Raleway:100|Quattrocento+Sans|Puritan|Paytone+One|Passion+One|PT+Sans|Open+Sans|Nixie+One|News+Cycle|Monoton|Molengo|Michroma);

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Abel|Brawler|Droid+Sans|Cabin|Crushed|Inder|Acme|Andika|Coustard|Duru+Sans|Belgrano|Cabin+Condensed|Istok+Web|Federo|Arimo|Gudea|Contrail+One|Bitter|Anton|Exo|Days+One|Antic|Candal|Droid+Serif|Abril+Fatface|Actor|Alice|Alike+Angular|Allan:700|Amaranth|Amatic+SC|Annie+Use+Your+Telescope|Anonymous+Pro|Bangers|Baumans|Bevan|Boogaloo|Bowlby+One|Bowlby+One+SC|Bree+Serif|Buda:300|Carme|Changa+One|Cuprum|Damion|Didact+Gothic|Dorsa|Francois+One|Gruppo);

@import url(http://fonts.googleapis.com/css?family=Mako|Just+Another+Hand|Jockey+One|Lato|Maiden+Orange|Magra|Lobster|Kameron|Josefin+Slab|Jura|Lobster+Two|Marvel);


/*
{
font-family: 'Yesteryear', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'Volkhov', serif;
font-family: 'Varela', sans-serif;
font-family: 'Ultra', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Sarina', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Righteous', cursive;
font-family: 'Raleway', cursive;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Puritan', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Molengo', sans-serif;
font-family: 'Michroma', sans-serif;
}
*/
