/* CSS Document - Devices  */
/* bootstrap_navbar */
@import url(menu-responsive.css?v=0.8);

body{
  min-width: 240px;
}
.body_theme{
	font-size: 18px;
}
/***********/
/* header */
/*********/
#header {
	width: auto;
	padding: 23px 10px;
}
.header_menu_bar ul{
	width: auto;
}
#header a.logo {
	float: left;
	*zoom: 0;
	*display: inline;
	display: inline-block;
	margin: 10px 0 0;
}
.container_menu{
	display: none!important;
}
#header .navbar_wrapper {
  display: block;
}
#header .navbar, .option_no-responsive{
	display: inline-block;
  margin: auto;
  width: 100%;
}

/***********/
/* slider */
/*********/
div.wrapper_slider{
	height: auto;
  padding:40px 0;
}
div.slider_area{
	/*width: auto!important;*/
	height: auto!important;
	/*background-image: none!important;*/
	padding: 0 !important;
	/*margin: 0 5%;*/
}
.nivoSlider, #accordion-slider, .piecemaker, div.anythingSlider{
	display: none;
}
div.contentSlide h1{
	font-size: 23px!important;
	margin-top: 5px;
}
.wtsCarousel{
	display: block!important;
}
#wptg_Carousel2 .carousel-control.left{
	/*left: 20px;*/
}
#wptg_Carousel2 .carousel-control.right{
	/*right: 20px;*/
}

body  .slider_content[slider]  .carousel-control{
	background-image:none !important;
}
body  .slider_content[slider]  .carousel-control.left{
	background: transparent ;
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	height:40px ;
	left: 10px  !important;
	width:40px ;
}

body .slider_content[slider]  .carousel-control.right{
	background:  transparent ;
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
	height:40px ;
	right: 10px !important ;
	width:40px ;
}
body  .slider_content[slider]  .carousel-control.right::before{
	content: "\F054";
	color: #ffffff;
	font-size: 40px;
	font-family: 'FontAwesome';
	position: absolute;
	right:10px !important;
	top:1px;
}

body  .slider_content[slider]  .carousel-control.left::before{
	content: "\F053";
	color: #ffffff;
	font-size: 40px;
	font-family: 'FontAwesome';
	position: absolute;
	top:1px;
	left:10px !important;
}

/************/
/* content */
/**********/
.widget_content ul{
	margin: 0;
}
.widget_content ul li{
	display: inline-block;
}
.entry_post img.size-full{
	width: 100%;
	height: auto;
}

#content,
#footer,
.sidebar_top .width_boxes_1,
.sidebar_down .width_boxes_1,
div.main_content,
div.sidebar_right,
div.sidebar_left,
div.width_boxes_3:last-child{
	width: auto!important;
	float:none;
}
.sidebar_top,
.sidebar_down,
.footer_sidebar,
.sidebar_right,
.sidebar_left,
.width_boxes_3:last-child,
div#content.page-404{
	text-align:center;
}
div.sidebar_right .boxes,
div.sidebar_left .boxes{
	display: block;
}
div.width_boxes_3,
div.width_boxes_2,
div.width_boxes_4{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.sidebar_top .width_boxes_4,
.sidebar_down .width_boxes_4,
.sidebar_top .width_boxes_3,
.sidebar_down .width_boxes_3,
.sidebar_top .width_boxes_2,
.sidebar_down .width_boxes_2,
.sidebar_down .width_boxes_3{
	width: 39%;
	float: none;
}

div.sidebar_right,
div.sidebar_left,
div.width_boxes_3:last-child{
	display: block;
	width: auto;
}

/***************/
/* taxonomies */
/*************/
.taxonomy_filter{
	/*width: 564px;*/
	margin: auto;
}
.container_img_galleryshadow{
	margin: 0;
}
.taxonomy_item h2{
	font-size: 20px;
}
.taxonomy_item{
	width: 262px;
}


/****************/
/* testimonial */
/**************/
div.taxonomy_testimonial{
	width: 40%;
	display: inline-block;
	float: none;
}
div.taxonomy_testimonial p{
	text-align: justify;
}
.wrap_testimonial{
	text-align: center;
}

/************/
/* contact */
/**********/
.contact_form {
	width: 500x;
	margin: auto;
}
.contact_form h1{
	text-align:center;
}

/************/
/* layouts */
/**********/
div#main_settings{
	display: none;
}
div.wrap_lay2,
div.wrap_lay4,
div.wrap_lay5,
div.wrap_lay6 {
	padding: 0;
	width: auto;
	border-radius: 0px;
}

/***************************/
/* responses and comments */
/*************************/

.commentRight{
	width: 84%;
}

/***********/
/* footer */
/*********/
.sidebar_right .boxes,
.sidebar_left .boxes{
	margin: 10px;
}
.footer_sidebar .width_boxes_3,
.footer_sidebar .width_boxes_2,
.footer_sidebar .width_boxes_4{
	width: 45%;
	display: inline-block;
	float: none;
	text-align: left;
	vertical-align: top;
}

.nameInput{
	display: inline-block;
	margin-right: 20px;
	width:98%;
}
.emailInput{
	display: inline-block;
	width:98%;
}
.subjectInput{
	display: block;
	width:98%;
}
.textInput{
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	width:98%;
}
.captchaInput{
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	width:155px !important;
}
.iframe{
	width:98%!important;
}

/*apliacion de estilos sobre refine slider*/

.t-top,.t-bottom.t-left,.t-right{
  display:none!important;
}

.hide_tool{
	display: none;
}


/*slider area*/
.slider_area{
  background-image:none !important;
  /*max-width: 90% !important;*/
  /*width: auto !important;*/
  padding: 0;
}
.thumbnails.t-top,.thumbnails.t-bottom{
  max-width: 100% !important;
}
.slider_area .slider_content{
  max-width: 100% !important;
  height:auto !important;
}
.slider_area .special-prev,.slider_area .special-next{
	/*display: none;*/
  /*height:auto !important;*/
}
body .wrapper_slider .slider_content[tg-type="custom"] .carousel-inner li a{
	width:100% !important;
	height:100% !important;
}
.slider_area .slider_content #wptg_Carousel2{
  max-width: 100% !important;
}
